<div class="login-container">
    <img class="film" src="../../assets/images/film.png" alt="logo">
    <div class="logo">Rotten Mangoes</div>
    <div class="desc">
        Rotten Mangoes is an Indian review-aggregation website for film and television. The company was launched in September 2023 by <strong>Anjan Sen</strong>, a Software Developer at the XXX.
        Rotten Mangoes, the Mangometer, and Audience scores are the world’s most trusted recommendation resources for quality entertainment. We provide fans with a comprehensive guide to what’s Fresh – and what’s Rotten – in theaters and at home. We also serve movie and TV fans with original series, lively discussions, and exclusive interviews. If you’re an entertainment fan looking for a recommendation, or to share your opinion, you’ve come to the right place.
    </div>

    <div class="login-form">
        <div class="form-group">
            <label for="uname">Username</label>
            <input 
                type="text" 
                name="uname" 
                class="form-control" 
                [(ngModel)]="username"
            >
        </div>
        <div class="form-group">
            <label for="pword">Password</label>
            <input 
                type="password" 
                name="pword" 
                class="form-control" 
                [(ngModel)]="password" 
            >
        </div>
        <div class="btn-container">
            <div class="error">{{ errorMsg }}</div>
            <button class="btn btn-danger" (click)="login()">Login</button>
        </div>
    </div>
</div>